matplotlib
numpy
pandas
scipy
torch
xitorch
findiff

git+https://github.com/rtqichen/torchdiffeq
git+https://github.com/cornellius-gp/linear_operator.git
git+https://github.com/cornellius-gp/gpytorch.git